/* Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Typography */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&family=Karla:wght@400;700&display=swap");

.pane__timer {
  height: 100%;
  text-align: center;
  color: #282c34;
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background-color: white;
}

/* react-split-pane */
.Resizer {
  background: #000;
  opacity: 0.2;
  z-index: 1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
}
.Resizer:hover {
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}
.Resizer.horizontal {
  height: 11px;
  margin: -5px 0;
  border-top: 5px solid rgba(255, 255, 255, 0);
  border-bottom: 5px solid rgba(255, 255, 255, 0);
  cursor: row-resize;
  width: 100%;
}
.Resizer.horizontal:hover {
  border-top: 5px solid rgba(0, 0, 0, 0.5);
  border-bottom: 5px solid rgba(0, 0, 0, 0.5);
}
.Resizer.vertical {
  width: 11px;
  margin: 0 -5px;
  border-left: 5px solid rgba(255, 255, 255, 0);
  border-right: 5px solid rgba(255, 255, 255, 0);
  cursor: col-resize;
}
.Resizer.vertical:hover {
  border-left: 5px solid rgba(0, 0, 0, 0.5);
  border-right: 5px solid rgba(0, 0, 0, 0.5);
}
.Resizer.disabled {
  cursor: not-allowed;
}
.Resizer.disabled:hover {
  border-color: transparent;
}

/* View */
.view {
  @apply p-2;
}

/* Pane */
.Pane {
  overflow-y: auto;
  overflow-x: hidden;
}
.pane {
  @apply p-2;
}

/* Footer Pane*/
.footerPane {
  position: absolute;
  left: 10rem;
  bottom: 0.8rem;
}

/* Logo */
#logo {
  position: fixed;
  width: 120px;
  bottom: 0.8rem;
  left: 1rem;
  opacity: 0.75;
}

button:disabled,
button[disabled] {
  background-color: #cccccc;
  color: #666666;
}
