.flex-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: rgb(255, 255, 255);
    border-color: rgb(0, 0, 0);
    /* border-width: 5px; */
    padding: 10px;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: "Century Gothic", Futura, sans-serif;
    font-size: 16px;
    text-align: center;
    align-items: stretch;
    width: 80%;
    vertical-align: center;
    position: absolute;
    left: 10%;
  }
.flex-container > data {
    border-radius: 10px;
    padding: 20px;
    width: 350px;
    height: 40px; 
    margin: 10px;
    font-family: "Century Gothic", Futura, sans-serif;
}
